<!DOCTYPE html>
<html lang="en">
<head>
  <title>Kickstarter</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Gamja+Flower" rel="stylesheet"> 
</head>

<body style="background-color:#00FFFF;">

<nav class="navbar navbar-expand-lg navbar-dark" style="background-color:black">
  <a class="navbar-brand text-center center-block" href="{{url_for('home')}}" style="outline:none"><h1 style="font-family:'Gamja Flower',cursive">Kickstarter</h1></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar" style="outline:none">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" style="outline:none" href="{{url_for('createpost')}}">Start a Project!</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" style="outline:none" href="{{url_for('dashboard')}}">Dashboard</a>
      </li>
      
      <li class="nav-item">
        	{% if logged_user == "" %}
        		<a class="nav-link" style="outline:none" href="{{url_for('signin')}}">Sign in</a>
			{% else %}
				<a class="nav-link" style="outline:none" href="{{url_for('logout')}}">Logout</a>
			{% endif %}
        </a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0" action="/action_page.php">
      <input class="form-control mr-sm-2" type="text" placeholder="Search">
      <button class="btn btn-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>

<br>
<div class="container">
	<div class="row-fluid">
		<div class="card">
			<div class="card-body">
				<h1>{{fullname}}</h1>
				<h2><a href="{{url_for('settings')}}">Edit Profile</a></h2>
			</div>
		</div>
	</div>
</div>
<br>

<div class="container">
	<div class="card">
		<div class="card-body">
			<br>
			<h2>My Created Projects</h2>
			<br>
		</div>
	</div>
</div>
<br>


<div class="container">
	<div class="row mb-2">
		{% for post in created_posts %}
			<div class="col-sm-6">
				<div class="card mb-4">
					<img class="card-img-top img-fluid" width="1280" height="720" src="/static/{{post['img']}}" alt="Card image">
					<div class="card-body">
						<h4 class="card-title">{{post['title']}}</h4>
						<p class="card-text">{{post['about']}}</p>
						<a href="/project/{{post['id']}}" class="btn btn-primary">View Post</a>
					</div>
					<div class="card-footer">
						<div class="row">
							<div class="col">
								<form action="/editPost/{{ post['id'] }}" method='GET'>
									<button class="btn btn-primary bg-success btn-md" name="editIt" type="submit">Edit</button>
								</form>
							</div>

							<div class="col">
								<form action="/deletePost/{{ post['id'] }}" method='POST'>
									<button class="btn btn-primary bg-success btn-md" name="deleteIt" type="submit">Delete</button>
								</form>
							</div>
						</div>

					</div>
				</div>
			</div>
		{% endfor %}
	</div>
</div>