<!DOCTYPE html>
<title>{{fullname}}>>My Profile---Kickstarter</title>
<a href="{{url_for('logout')}}">Logout</a> 
<a href="{{url_for('createpost')}}">Create Post</a>

<h1>Hello {{fullname}}!</h1>

<p>Display profile picture somewhere</p>

<p><a href="{{url_for('settings')}}">Edit Profile</a></p> 

<h2>My Created Projects</h2>
<ul>
	{% for post in created_posts %}
		<a href="/project/{{post['id']}}">{{post['title']}}</a>
		<form action="/deletePost/{{ post['id'] }}" method='POST'>
			<button name="deleteIt" type="submit">Delete</button>
		</form>
		<form action="/editPostCaller/{{ post['id'] }}" method='POST'>
			<button name="editIt" type="submit">Edit</button>
		</form>
	{% endfor %}
</ul>

<h2>My Backed Projects</h2>

<img src="./static/{{img}}">