<h1>Edit Profile</h1>
<form action="/settings" method="post" enctype="multipart/form-data">
	
	<input type="text" name="fullname" value="{{user['fullname']}}" required>
	<br>
	<input type="password" name="password" value = "" placeholder="New Password">
	<br>
	<input type="password" name="verify_password" value="" placeholder="Verify New Password">
	<br>
	<label for="photo">Upload Image</label>
	<input type="file" name="photo">

	<input type="submit" value="Submit">
</form>
<a href="{{url_for('dashboard')}}">View Profile</a>
{{msg}}