<!DOCTYPE html>
<html lang="en">
<head>
  <title>Edit Post</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Gamja+Flower" rel="stylesheet"> 
</head>

<body class="bg-dark">

<nav class="navbar navbar-expand-lg navbar-dark" style="background-color:black">
  <a class="navbar-brand text-center center-block" href="{{url_for('home')}}" style="outline:none"><h1 style="font-family:'Gamja Flower',cursive">Kickstarter</h1></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar" style="outline:none">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" style="outline:none" href="{{url_for('createpost')}}">Start a Project!</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" style="outline:none" href="{{url_for('dashboard')}}">Dashboard</a>
      </li>
      
      <li class="nav-item">
        	{% if logged_user == "" %}
        		<a class="nav-link" style="outline:none" href="{{url_for('signin')}}">Sign in</a>
			{% else %}
				<a class="nav-link" style="outline:none" href="{{url_for('logout')}}">Logout</a>
			{% endif %}
        </a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0" action="/search" method='GET' enctype="multipart/form-data">
      <input class="form-control mr-sm-2" type="text" name="pattern" placeholder="Search">
      <button class="btn btn-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>

<br><br>

<div class="container bg-primary img-thumbnail">
  <br>
  <form action="/editPost/{{id}}" onsubmit="return validate(this);" method='POST' enctype="multipart/form-data">
    <div class="form-group">
      <label for="title"><h4>Title</h4></label><br>
      <input type="text" class="form-control" id="title" value="{{title}}" name="title" required>
    </div>
    <div class="form-group">
      <label for="tags"><h4>Tags</h4></label>
      {% if "technology" in tagTuple %}
      <div class="checkbox">
        <label><input type="checkbox" value="technology" name="tags" style="outline:none" checked="checked"> Technology</label>
      </div>
      {% else %}
      <div class="checkbox">
        <label><input type="checkbox" value="technology" name="tags" style="outline:none"> Technology</label>
      </div>
      {%endif%}

      {% if "books" in tagTuple %}
      <div class="checkbox">
        <label><input type="checkbox" value="books" name="tags" style="outline:none" checked="checked"> Books</label>
      </div>
      {%else%}
      <div class="checkbox">
        <label><input type="checkbox" value="books" name="tags" style="outline:none"> Books</label>
      </div>
      {%endif%}

      {% if "movies" in tagTuple %}
      <div class="checkbox">
        <label><input type="checkbox" value="movies" name="tags" style="outline:none" checked="checked"> Movies</label>
      </div>
      {% else %}
      <div class="checkbox">
        <label><input type="checkbox" value="movies" name="tags" style="outline:none"> Movies</label>
      </div>
      {%endif%}

      {% if "music" in tagTuple %}
      <div class="checkbox">
        <label><input type="checkbox" value="music" name="tags" style="outline:none" checked="checked"> Music</label>
      </div>
      {% else %}
      <div class="checkbox">
        <label><input type="checkbox" value="music" name="tags" style="outline:none"> Music</label>
      </div>
      {%endif%}

      {% if "sports" in tagTuple %}
      <div class="checkbox">
        <label><input type="checkbox" value="sports" name="tags" style="outline:none" checked="checked"> Sports</label>
      </div>
      {% else %}
      <div class="checkbox">
        <label><input type="checkbox" value="sports" name="tags" style="outline:none"> Sports</label>
      </div>
      {%endif%}

      {% if "fashion" in tagTuple %}
      <div class="checkbox">
        <label><input type="checkbox" value="fashion" name="tags" style="outline:none" checked="checked"> Fashion</label>
      </div>
      {%else%}
      <div class="checkbox">
        <label><input type="checkbox" value="fashion" name="tags" style="outline:none"> Fashion</label>
      </div>
      {%endif%}

      {% if "food" in tagTuple %}
      <div class="checkbox">
        <label><input type="checkbox" value="food" name="tags" style="outline:none" checked="checked"> Food</label>
      </div>
      {%else%}
      <div class="checkbox">
        <label><input type="checkbox" value="food" name="tags" style="outline:none"> Food</label>
      </div>
      {%endif%}

      {% if "travel" in tagTuple %}
      <div class="checkbox">
        <label><input type="checkbox" value="travel" name="tags" style="outline:none" checked="checked"> Travel</label>
      </div>
      {% else %}
      <div class="checkbox">
        <label><input type="checkbox" value="travel" name="tags" style="outline:none"> Travel</label>
      </div>
      {%endif%}
    </div>
    
    <div class="form-group">
      <label for="about"><h4>Description (Within 120 characters)</h4></label>
      <br>
      <textarea class="form-control" id="about" placeholder="{{des}}" name="about" value="{{des}}" required></textarea>
    </div>

    <div class="form-group">
      <label for="fund"><h4>Required Funding</h4></label><br>
      <input type="text" class="form-control" id="fund" value="{{fund}}" name="fund" required>
    </div>
    <div class="form-group">
      <label for="duration"><h4>Estimated days for completion</h4></label>
      <input type="text" class="form-control" id="duration" value="{{duration}}" name="duration" required>
    </div>
    <div class="form-group">
      <label for="project_photo"><h4>Project Poster</h4></label>
      <br>
      <input type="file" class=" btn btn-primary bg-warning btn-md" name="project_photo">
    </div>
    <div class="form-group">
      <label for="video-url"><h4>Project Promotion Video</h4></label>
      <br>
      <input type="text" class="form-control" id="video" value="{{video}}" name="video_url">
    </div>
    <br>
    <button type="submit" class="btn btn-primary bg-success btn-lg" value="Edit Post!">Make Change!</button>
  </form>
  <br>
</div>
<br>
<br>

<script>
  function checkNum(str)
  {
    if(str.indexOf('.')!=str.lastIndexOf('.'))
      return 0;
    for(var i=0;i<str.length;++i)
    {
      var ch=str[i];
      if(ch>='0' && ch<='9' || ch=='.' || i==0 && ch=='+' || i==0 && ch=='-')
        continue;
      return 0;
    }
    return 1;
  }
  
  function validate(form)
  {
    if(!checkNum(form.fund.value))
    {
      alert("Please Enter a Number in the Fund Field");
      return false;
    }
    if(!checkNum(form.duration.value))
    {
      alert("Please Enter a Number in the Estimated Time Field");
      return false;
    }
    if(form.fund.value<=0)
    {
      alert("You definetly need a positive amount of funds");
      return false;
    }
    if(form.duration.value<=0)
    {
      alert("You definetly need a positive amount of time to complete");
      return false;
    }
    if(form.about.value.length>120)
    {
      alert("Description should be within 120 characters");
      return false;
    }
    return true;
  }
</script>