<h1>Kickstarter</h1>
<h2>Display some stats here</h2>
{% if logged_user == "" %}
	<a href="{{url_for('signin')}}">Signin</a>
{% else %}
	<a href="{{url_for('dashboard')}}"><img src="{{profile_pic}}"></a>
	<a href="{{url_for('logout')}}">Logout</a> 
{% endif %}
<a href="{{url_for('createpost')}}">Start a project</a>
<br>
<br>

<h3>Put some tags here</h3>


{% for post in posts %}
	<a href="/project/{{post[0]}}"><img src="https://ksr-ugc.imgix.net/assets/020/829/781/5d5336c7f983907d3655d46ba57b97a8_original.jpg?q=80&blur=false&w=500&fit=true&v=1523306394&auto=format&s=5703d31b3c9e8a4d3d6b9926f02424d6"></a>
	<br>
{% endfor %}