<!DOCTYPE html>
<html lang="en">
<head>
  <title>Kickstarter</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Gamja+Flower" rel="stylesheet"> 
</head>

<body class="bg-dark">

<nav class="navbar navbar-expand-lg navbar-dark" style="background-color:black">
  <a class="navbar-brand text-center center-block" href="{{url_for('home')}}" style="outline:none"><h1 style="font-family:'Gamja Flower',cursive">Kickstarter</h1></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar" style="outline:none">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" style="outline:none" href="{{url_for('createpost')}}">Start a Project!</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" style="outline:none" href="{{url_for('dashboard')}}">Dashboard</a>
      </li>
      
      <li class="nav-item">
        	{% if logged_user == "" %}
        		<a class="nav-link" style="outline:none" href="{{url_for('signin')}}">Sign in</a>
			{% else %}
				<a class="nav-link" style="outline:none" href="{{url_for('logout')}}">Logout</a>
			{% endif %}
        </a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0" action="/search" method='GET' enctype="multipart/form-data">
      <input class="form-control mr-sm-2" type="text" name="pattern" placeholder="Search">
      <button class="btn btn-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>

<br><br>

<div class="container bg-dark">
  <div class="container">
  <div class="row mb-4">
    <div class="col-sm-3 bg-info">
      <br>
      <h1 style="font-size:250%; text-align: center">{{no_of_users}}</h1>
      <br>
      <h2 style="text-align:center;">Users</h2>
      <br>
    </div>
    <div class="col-sm-3 bg-warning">
      <br>
      <h1 style="font-size:250%; text-align: center">{{no_of_posts}}</h1>
      <br>
      <h2 style="text-align:center;">Projects</h2>
      <br>
    </div>
    <div class="col-sm-3 bg-primary">
      <br>
      <h1 style="font-size:250%; text-align: center">{{no_of_backings}}</h1>
      <br>
      <h2 style="text-align:center;">Backings</h2>
      <br>
    </div>
    <div class="col-sm-3 bg-success">
      <br>
      <h1 style="font-size:200%; text-align: center">${{tot_backing_funds}}</h1>
      <br>
      <h2 style="text-align:center;">Collected</h2>
      <br>
    </div>
  </div>
  </div>
</div>

<div class="container">
<div>
  <button type="button" class="button btn-danger btn-lg active" style="outline:none;" id="technology">Technology</button>
  <button type="button" class="button btn-danger btn-lg" style="outline:none;" id="books">Books</button>
  <button type="button" class="button btn-danger btn-lg" style="outline:none;" id="movies">Movies</button>
  <button type="button" class="button btn-primary btn-lg" style="outline:none;" id="music">Music</button>
  <button type="button" class="button btn-primary btn-lg" style="outline:none;" id="sports">Sports</button>
  <button type="button" class="button btn-primary btn-lg" style="outline:none;" id="fashion">Fashion</button>
  <button type="button" class="button btn-primary btn-lg" style="outline:none;" id="food">Food</button>
  <button type="button" class="button btn-primary btn-lg" style="outline:none;" id="travel">Travel</button>
</div>
</div>

<br><br>

<div class="container">
	<div class="row mb-2" id = "display">
		{% for post in posts %}
			<div class="col-sm-6">
				<div class="card mb-4">
					<img class="card-img-top img-fluid" width="1280" height="720" src="/static/{{post['img']}}" alt="Card image">
					<div class="card-body">
						<h4 class="card-title">{{post['title']}}</h4>
						<p class="card-text">{{post['about']}}</p>
						<a href="/project/{{post['id']}}" class="btn btn-primary">View More</a>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
</div>

<br><br>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
var active_now = "#technology";

$(document).ready(function(){
    active_now = "#technology";
    $(active_now).css("background-color", "red");
    $("#books").css("background-color", "blue");
    $("#movies").css("background-color", "blue");
    $("#music").css("background-color", "blue");
    $("#sports").css("background-color", "blue");
    $("#fashion").css("background-color", "blue");
    $("#food").css("background-color", "blue");
    $("#travel").css("background-color", "blue");
    $.ajax('http://127.0.0.1:5000/ajax', {
      success: function(response){
        $('#display').html(response)
      },
      data: { "tag" : "technology" }
    })
})

$("#technology").on('click', function(){
    $(active_now).css("background-color", "blue");
    $(this).css("background-color", "red");
    active_now = "#technology";
    $.ajax('http://127.0.0.1:5000/ajax', {
      success: function(response){
        $('#display').html(response)
      },
      data: { "tag" : "technology" }
    })
    
});

$("#books").on('click', function(){
    $(active_now).css("background-color", "blue");
    $(this).css("background-color", "red");
    active_now = "#books";
    $.ajax('http://127.0.0.1:5000/ajax', {
      success: function(response){
        $('#display').html(response)
      },
      data: { "tag" : "books" }
    })
    
});

$("#music").on('click', function(){
    $(active_now).css("background-color", "blue");
    $(this).css("background-color", "red");
    active_now = "#music";
    $.ajax('http://127.0.0.1:5000/ajax', {
      success: function(response){
        $('#display').html(response)
      },
      data: { "tag" : "music" }
    })
    
});

$("#movies").on('click', function(){
    $(active_now).css("background-color", "blue");
    $(this).css("background-color", "red");
    active_now = "#movies";
    $.ajax('http://127.0.0.1:5000/ajax', {
      success: function(response){
        $('#display').html(response)
      },
      data: { "tag" : "movies" }
    })
    
});

$("#sports").on('click', function(){
    $(active_now).css("background-color", "blue");
    $(this).css("background-color", "red");
    active_now = "#sports";
    $.ajax('http://127.0.0.1:5000/ajax', {
      success: function(response){
        $('#display').html(response)
      },
      data: { "tag" : "sports" }
    })
    
});

$("#fashion").on('click', function(){
    $(active_now).css("background-color", "blue");
    $(this).css("background-color", "red");
    active_now = "#fashion";
    $.ajax('http://127.0.0.1:5000/ajax', {
      success: function(response){
        $('#display').html(response)
      },
      data: { "tag" : "fashion" }
    })
    
});

$("#food").on('click', function(){
    $(active_now).css("background-color", "blue");
    $(this).css("background-color", "red");
    active_now = "#food";
    $.ajax('http://127.0.0.1:5000/ajax', {
      success: function(response){
        $('#display').html(response)
      },
      data: { "tag" : "food" }
    })
    
});

$("#travel").on('click', function(){
    $(active_now).css("background-color", "blue");
    $(this).css("background-color", "red");
    active_now = "#travel";
    $.ajax('http://127.0.0.1:5000/ajax', {
      success: function(response){
        $('#display').html(response)
      },
      data: { "tag" : "travel" }
    })
    
});

</script>