<!DOCTYPE html>
<html lang="en">
<head>
  <title>Project</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Gamja+Flower" rel="stylesheet"> 
</head>

<body style="background-color:#00FFFF;">

<nav class="navbar navbar-expand-lg navbar-dark" style="background-color:black">
  <a class="navbar-brand text-center center-block" href="{{url_for('home')}}" style="outline:none"><h1 style="font-family:'Gamja Flower',cursive">Kickstarter</h1></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar" style="outline:none">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" style="outline:none" href="{{url_for('createpost')}}">Start a Project!</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" style="outline:none" href="{{url_for('dashboard')}}">Dashboard</a>
      </li>
      
      <li class="nav-item">
        	{% if logged_user == "" %}
        		<a class="nav-link" style="outline:none" href="{{url_for('signin')}}">Sign in</a>
			{% else %}
				<a class="nav-link" style="outline:none" href="{{url_for('logout')}}">Logout</a>
			{% endif %}
        </a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0" action="/search" method='GET' enctype="multipart/form-data">
      <input class="form-control mr-sm-2" type="text" name="pattern" placeholder="Search">
      <button class="btn btn-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>

<br><br>


<div class="container">
	<div class="row mb-2">
		<div class="col-sm-6">
			<div class="card">
				<img class="card-img-top img-fluid" width="1280" height="720" src="/static/{{img}}" alt="Card image">
				<div class="card-body">
					<h1 class="card-title">{{title}}</h1>
				</div>
			</div>
		</div>

		<div class="col-sm-6">
			<div class="card">
				<div class="card-body">
					<h4 class="card-text">Required Funds: ${{fund}}</h4>
          <h4 class="card-text">Funds Obtained: ${{funds_collected}}</h4>

					<br>
					<h5 class="card-text">Description:<br>{{about}}</h5>
					<br>
					<h4 class="card-text">Creator: {{usr}}</h4>
          <h4 class="card-text">Expected Finish Date: {{duration}}</h4>
          <br>
          <div class="container">
            <h2>Percentage Funded:</h2>
              <div class="progress">
                <div class="progress-bar bg-danger progress-bar-striped progress-bar-animated" style="width:{{percentage_collected}}%">{{percentage_collected}}%</div>
              </div>
          </div>
					<br><br>
					<a href="/project/{{id}}/back"><h5>Back this project</h5></a>

          {% if usr == logged_user %}
            <div class="card-footer">
              <div class="row">
                <div class="col">
                  <form action="/editPost/{{ post['id'] }}" method='GET'>
                    <button class="btn btn-primary bg-success btn-md" name="editIt" type="submit">Edit</button>
                  </form>
                </div>

                <div class="col">
                  <form action="/deletePost/{{ post['id'] }}" method='POST'>
                    <button class="btn btn-primary bg-danger btn-md" style="float: right;" name="deleteIt" type="submit">Delete</button>
                  </form>
                </div>
              </div>
            </div>
          {% endif %}

				</div>
			</div>
		</div>
	</div>
</div>
<br>

{% if tags != {} %}
<div class = "container">
  <span class="badge badge-dark"><h3>Tags:</h3></span>
  <br><br>
  {% for tag in tags %}
    <span class="badge badge-pill badge-primary" style="background-color:rgb(24, 0, 145)"><h4>{{tag}}</h4></span>
  {% endfor %}
</div>
{% endif %}
<br>

{% if video != "" %}
<div class="container">
  <div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" src="{{video}}"></iframe>
  </div>
</div>
{% endif %}

<br>

  {% if backers != [] %}
     <div class="container">
       <div class="card">
         <div class="card-body">
           <h3>Backers</h3>
         </div>
       </div>
      </div>
      <br>
    <div class="container">
    <div class="row mb-2">
     {% for user in backers %}
        <div class="col-sm-6">
          <div class="card mb-4">
            <img class="card-img-top img-fluid" width="1280" height="720" src="/static/{{user['photo']}}" alt="Card image">
            <div class="card-body">
              <h4 class="card-title">{{user['fullname']}}</h4>
              <p class="card-text">{{user['username']}}</p>
              <p class="card-text">Contribution: ${{user['fund']}}</p>
              <a href="/user/{{user['username']}}" class="btn btn-primary">Visit User</a>
            </div>
          </div>
        </div>
    {% endfor %}
    </div>
  </div>
  {% endif %}


