<!DOCTYPE html>
<html lang="en">
<head>
  <title>Sign in</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Gamja+Flower" rel="stylesheet"> 
</head>

<body style="background-color:#00FFFF;">

<nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <a class="navbar-brand text-center center-block" href="{{url_for('home')}}" style="outline:none"><h1 style="font-family:'Gamja Flower',cursive">Kickstarter</h1></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav mr-auto">
   
    </ul>
    <form class="form-inline my-2 my-lg-0" action="/action_page.php">
      <input class="form-control mr-sm-2" type="text" placeholder="Search">
      <button class="btn btn-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
<br><br>
<div class="container bg-primary img-thumbnail">
  <br>
  <form action="/Signup" method="post">
    <div class="form-group">
      <label for="fullname"><h4>Full Name</h4></label><br>
      <input type="text" class="form-control" id="fullname" placeholder="Enter name" name="fullname" required>
    </div>
    <div class="form-group">
      <label for="username"><h4>Email</h4></label><br>
      <input type="text" class="form-control" id="email" placeholder="Enter Email" name="username" required>
    </div>
    <div class="form-group">
      <label for="verify_username"><h4>Re-enter Email</h4></label><br>
      <input type="text" class="form-control" id="re-enter_email" placeholder="Re-enter Email" name="verify_username" required>
    </div>
    <div class="form-group">
      <label for="password"><h4>Password</h4></label>
      <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="password" required>
    </div>
    <div class="form-group">
      <label for="verify_password"><h4>Re-enter Password</h4></label>
      <input type="password" class="form-control" id="verify_password" placeholder="Re-enter Password" name="verify_password" required>
    </div>
    <br>
    <button type="submit" class="btn btn-primary bg-success btn-lg" value="Create account">Login</button>
  </form>
  <br>
  {{invalid_credential}}
  <h3>Have an account?   <a href="{{url_for('signin')}}" style="outline:none" class="text-warning">Signin</a></h3>
  <br>
</div>
<br>
<br>


<!--

<p>Have an account? <a href="{{url_for('signin')}}">Login</a></p>
<h1>Signup</h1>
<form action="/Signup" method="post">
	<input type="text" name="fullname" placeholder="Full Name" required>
	<br>
	<input type="text" name="username" placeholder="Email" required>
	<br>
	<input type="text" name="verify_username" placeholder="Re-enter email" required>
	<br>
	<input type="password" name="password" placeholder="Password" required>
	<br>
	<input type="password" name="verify_password" placeholder="Re-enter password" required>
	<br>
	<input type="submit" value="Create account">
</form>

{{invalid_credential}}